img
{
position:absolute;
top: 0px;
left: 0px;
}
#backgroud
{
  z-index: 1;
}
#menuBack
{
  z-index: 2;
}
#mnuStart
{
  left : 250px;
  top: 100px;  
  opacity: 60%;
}
body
{
  cursor: url(cursor_sword.png), pointer;
}
